h1{
    background-size: cover;
    color: red;
    text-shadow: 5px 5px yellowgreen;}
    
    
 p {
    text-align: left;
    font-family: "crystalfont";
    font-size: 15px;}

h2{
    color: rgba(255,200,80);
}

body{
    background: url(https://images.unsplash.com/photo-1486231328412-f20a348f9837?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2111a87b0a0a0609dde8ca53235e5bdc&auto=format&fit=crop&w=375&q=80);
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #3ba39e;
    border-radius: .3rem;}
      
.container{
        max-width: 1000px;
        margin: 0 auto;
    }
#crytal1, #crystal2, #crystal3, #crystal4{
        width: 30%;
        background: purple;
        padding-bottom: 30%;
        float: left;
        margin: 1.66%;
    }
    
